* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* min general config*/
html,
body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    transition: 1s background ease-in-out;
    color: var(--color_principal);
    scroll-behavior: smooth;



}

/* Vars*/
:root {
    --second_color: rgb(81, 228, 179);
    --color_principal: rgb(5, 5, 27);
    --trethh_principal: rgba(66, 23, 223, 0.973);
    ;
    --principal_font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* mixitup vars*/
    --container: 144rem;
    --m-auto: 0 auto;
    --white: #fff;
    --btn: rgb(102, 65, 224);
    --btn-active: rgb(67, 37, 168);
}

/* scroll cofig*/

::-webkit-scrollbar {
    width: 7px;

}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* start header confgi */
.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .header_logo a {
    height: 70px;
    margin-left: 10px;
    padding: 10px;
    color: rgba(66, 23, 223, 0.973);
    font-size: 1.3em;
    font-family: 'roboto';
    display: flex;
    align-items: center;
}

.header_logo i {
    font-size: 1em;
    transform: translateY(0.2em);

}


.modal_ i {

    margin-right: 30px;
    font-size: 2rem;
    color: rgb(133, 15, 243);


}


dialog::backdrop {
    background-color: rgba(153, 243, 255, 0.9);

}

.mail_input {
    border: 1px solid var(--second_color);
}

.dialog {
    margin: auto auto;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.dialog.opacity {
    opacity: 1;
}

.header_dialog {
    width: 100%;
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Say i {
    font-size: 29px;
    color: var(--color_principal);
}

.dialog form .formone {

    margin-top: 0.8rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.dialog form input,
.dialog form textarea {
    font-family: var(--principal_font);
    margin-bottom: 1rem;
    outline: none;
    padding: 0.8rem;
    border-radius: 5px;
    margin-left: 1rem;
    border: 2px solid var(--second_color);


}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dialog form button {
    padding: 10px;
    text-align: center;
    width: 150px;
    background-color: var(--second_color);
    border: 1px solid white;
    color: rgb(14, 6, 49);
    font-size: 1rem;
    font-family: 'roboto';
}


.dialog_cancel {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.dialog_cancel p {
    background-color: blueviolet;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}

/* article config*/

.dev_info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: var(--trethh_principal);
}

.dev_info .dev_content h1 {
    padding: 15px;
    font-family: var(--principal_font);
    font-size: 1.4em;

}

.dev_content {
    text-align: center;
}

.dev_content p {
    color: rgb(29, 4, 75);
    font-family: 'roboto';
    letter-spacing: 1px;
}

/*social icones and elements*/

.social_elements {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

.social_icons li {
    padding: 10px;
    display: inline-block;

}

.social_icons li a {
    padding: 7px;
    box-shadow: 1px 3px 60px 22px var(--second_color);
    font-size: 24px;
    color: rgb(49, 9, 112);
    text-align: center;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 40px;
    align-items: center;
}

.social_icons li a:hover {
    border: 1px solid var(--second_color);
    transition: 1s ease-in-out;
}

/* create a download link*/
.download_cv a {
    margin-top: 50px;
    font-family: var(--principal_font);
    border: 2px solid var(--second_color);
    padding: 12px;
    color: var(--color_principal);
    border-radius: 2px;
    position: relative;
    overflow: hidden;


}

.download_cv a::before,
.download_cv a::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--second_color), transparent);
    transition: width 0.5s ease;
}

.download_cv a::before {
    left: 0;
    transition-delay: 0.25s;
}

.download_cv a::after {
    right: 0;
}

.download_cv a:hover {
    color: var(--color_principal);
}

.download_cv a:hover::before,
.download_cv a:hover::after {
    width: 100%;
}

.download_cv {
    text-align: center;
}

/* my picture, my face*/

.me_picture {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.me_picture img {
    height: 200px;
    border-radius: 10%;
    border: 1px solid blueviolet;
    padding: 2px;
    border: 1px solid blueviolet
}


.informatic_component {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px auto;
    padding: 12px;
}

.informatic_component img {
    height: 140px;
    text-align: center;
}

/* Header end <----> */


.full_estruture {
    background-color: var(--second_color);
    height: 300px;
    width: 100%;
}

.full_estruture_content {
    display: flex;
    width: 80%;
    background-color: white;
    justify-content: center;
}

/* <!------- scroll controller > */

.scroll_controller {
    font-size: 20px;
    width: 30px;
    position: fixed;
    right: 30px;
    padding: 10px;
    bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

.scroll_controller.show {
    opacity: 1;
}

.scroll_controller i {
    box-shadow: 1px 3px 60px 22px var(--second_color);
    font-size: 29px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

/* <!------- discurse and techs > */

.main {
    background-color: var(--color_principal);
    width: 100%;
    height: 590px;
}

.main_second {
    background-color: var(--color_principal);
}

.main_discurse {
    background-color: var(--color_principal);
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.discurse_header {
    width: 100%;
    color: white;
    padding: 6px;
}

.discurse_header h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 150%;
    font-family: var(--principal_font);

}

.about {
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about1 img {
    height: 415px;
    border-radius: 20px;
    border: 2px solid white;
    margin-left: 70px;

}

.about2 {
    width: 370px;
    height: 100%;

}
.about_controller{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.about_header {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}
.about_header_boxs{
    display: flex;
    margin: 0 auto;
}
.about_box{
    width: 100px;
    height: 90px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'roboto';
    color: white;
    
}
.about_discurse{
    height: 300px;
    margin: -30px  auto;
    width: 100%;
    display: flex;
}
.discurse_p{
    padding: 15px;
    width: 100%; 
    color: white;
    font-size: 18px;
    letter-spacing: -1 ;
  

}

/* <!------- comenter  --> */

.comenter {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    color: rgb(9, 9, 44) !important;
}

.comenter h1 {
    padding: 5px;
}

/* <!------- my techs  --> */

.lang_techs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
    flex-wrap: wrap;

}

.estruture {
    width: 340px;
    height: 330px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin: 10px auto;
    border: 2px solid var(--second_color);
    border-radius: 10px;
    padding: 10px;
    text-align: start;
}

.estruture_header {
    background-color: white;
    height: 50px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.estruture_header i {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second_color);
    color: rgb(5, 5, 27);
    padding: 10px;
}

.estruture_title {
    display: flex;
    width: 100%;
    justify-content: center;
    color: rgb(3, 3, 34);
    font-size: 16px;
    margin-top: 10px;
    height: 50px;
    font-family: 'roboto';
}

.estruture_title h3 {
    margin-top: 20px;
}

.languages_p {
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.languages_p p {
    margin-top: 7px;
    color: rgb(2, 4, 19);
    font-size: 16px;
}


/* <!------- Mixitup LIb --> */

.container_2 {

    margin: var(--m-auto);
    padding: 0 2rem;

}

#product {
    padding: 3rem 0;
}

.controls {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.control {
    margin-left: 10px;
    padding: 15px;
    outline: none;
    background-color: rgb(5, 5, 27);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.control.mixitup-control-active {}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    gap: 2rem;
    height: auto;
    margin: 0 auto;
}

.mix {}

.mix img {
    height: 220px;

}

.main_second {
    height: 520px;
}

.second_main {

    margin: 20px auto;
    width: 60%;
}

.second_main_content {

    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 10px;
}

.second_main_content input {
    width: 350px;
    padding: 10px;
    font-family: 'roboto';
    font-size: var(--principal_font);
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 6px;
    color: wheat;
    outline: none;
    border: 1px solid var(--second_color);
    padding: 14px;
}

.second_main_content textarea {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'roboto';
    font-size: 17px;
    width: 100%;
    margin-top: 20px;
    color: white;
    padding: 10px;
    outline: none;
    border: 1px solid var(--second_color);

}

.second_main_content .buttonn {
    margin: 20px auto;
    text-align: center;
    width: 100%;
    height: auto;

}

.buttonn button {
    padding: 10px;
    height: auto;
    width: 300px;
    border: 1px solid var(--second_color);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    position: relative;
    overflow: hidden;
}

.buttonn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--second_color), transparent);
    transition: width 0.5s ease;
}

.buttonn button:hover::before {
    width: 100%;
    cursor: pointer;
}

.goo {
    width: 00px;
    color: red;

}



/* <!------- dispositivos menoreS  --> */
@media only screen and (max-width: 280px) {

    .products {
        margin-right: -20px;
    }

    .mix img {
        height: 200px;
    }

    .discurse_header_second {
        font-size: 15px;

    }
}

@media only screen and (max-width: 480px) {
    .header .header_logo a {
        font-size: 1.1em;
    }

    .dev_info .dev_content h1 {
        font-size: 1em;
    }

    .social_icons li a {
        font-size: 20px;
        width: 30px;
        height: 30px;
    }

    .download_cv a {
        padding: 10px;
    }

    .me_picture img {
        width: 120px;
        height: 120px;
    }

    .informatic_component img {
        height: 100px;
    }

    .main {
        height: 980px;
    }
    .about1 img{
        height: 340px;
    }

    .control {
        font-size: 15px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .estruture {
        width: 300px;
        height: 400px;
    }
    .second_main_content textarea{
        width: 90%;
    }

    .main_second {
        height: 555px;
    }
    .discurse_p{
            text-align: center;
    }
    .about1 img{
        margin-left: auto;
    }
}