* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* min general config*/
html,
body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    transition: 1s background ease-in-out;
    color: var(--color_principal);
    scroll-behavior: smooth;



}

/* Vars*/
:root {
    --second_color: rgb(81, 228, 179);
    --color_principal: rgb(5, 5, 27);
    --trethh_principal: rgba(66, 23, 223, 0.973);
    ;
    --principal_font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* mixitup vars*/
    --container: 144rem;
    --m-auto: 0 auto;
    --white: #fff;
    --btn: rgb(102, 65, 224);
    --btn-active: rgb(67, 37, 168);
}

/* scroll cofig*/

::-webkit-scrollbar {
    width: 7px;

}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* start header confgi */
.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .header_logo a {
    height: 70px;
    margin-left: 10px;
    padding: 10px;
    color: rgba(66, 23, 223, 0.973);
    font-size: 1.3em;
    font-family: 'roboto';
    display: flex;
    align-items: center;
}

.header_logo i {
    font-size: 1em;
    transform: translateY(0.2em);

}


.modal_ i {

    margin-right: 30px;
    font-size: 2rem;
    color: rgb(133, 15, 243);


}


dialog::backdrop {
    background-color: rgba(153, 243, 255, 0.9);

}

.mail_input {
    border: 1px solid var(--second_color);
}

.dialog {
    margin: auto auto;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.dialog.opacity {
    opacity: 1;
}

.header_dialog {
    width: 100%;
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Say i {
    font-size: 29px;
    color: var(--color_principal);
}

.dialog form .formone {

    margin-top: 0.8rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.dialog form input,
.dialog form textarea {
    font-family: var(--principal_font);
    margin-bottom: 1rem;
    outline: none;
    padding: 0.8rem;
    border-radius: 5px;
    margin-left: 1rem;
    border: 2px solid var(--second_color);


}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dialog form button {
    padding: 10px;
    text-align: center;
    width: 150px;
    background-color: var(--second_color);
    border: 1px solid white;
    color: rgb(14, 6, 49);
    font-size: 1rem;
    font-family: 'roboto';
}


.dialog_cancel {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.dialog_cancel p {
    background-color: blueviolet;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}

/* article config*/

.dev_info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: var(--trethh_principal);
}

.dev_info .dev_content h1 {
    padding: 15px;
    font-family: var(--principal_font);
    font-size: 1.4em;

}

.dev_content {
    text-align: center;
}

.dev_content p {
    color: rgb(29, 4, 75);
    font-family: 'roboto';
    letter-spacing: 1px;
}

/*social icones and elements*/

.social_elements {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

.social_icons li {
    padding: 10px;
    display: inline-block;

}

.social_icons li a {
    padding: 7px;
    box-shadow: 1px 3px 60px 22px var(--second_color);
    font-size: 24px;
    color: rgb(49, 9, 112);
    text-align: center;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 40px;
    align-items: center;
}

.social_icons li a:hover {
    border: 1px solid var(--second_color);
    transition: 1s ease-in-out;
}

/* create a download link*/
.download_cv a {
    margin-top: 50px;
    font-family: var(--principal_font);
    border: 2px solid var(--second_color);
    padding: 12px;
    color: var(--color_principal);
    border-radius: 2px;
    position: relative;



}

.download_cv a::before,
.download_cv a::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--second_color), transparent);
    transition: width 0.5s ease;
}

.download_cv a::before {
    left: 0;
    transition-delay: 0.25s;
}

.download_cv a::after {
    right: 0;
}

.download_cv a:hover {
    color: var(--color_principal);
}

.download_cv a:hover::before,
.download_cv a:hover::after {
    width: 100%;
}

.download_cv {
    text-align: center;
}

/* my picture, my face*/

.me_picture {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.me_picture img {
    height: 200px;
    border-radius: 10%;
    padding: 2px;

}


.informatic_component {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px auto;
    padding: 12px;
}

.informatic_component img {
    height: 140px;
    text-align: center;
}

/* Header end <----> */


.full_estruture {
    background-color: var(--second_color);
    height: 300px;
    width: 100%;
}

.full_estruture_content {
    display: flex;
    width: 80%;
    background-color: white;
    justify-content: center;
}

/* <!------- scroll controller > */

.scroll_controller {
    font-size: 20px;
    width: 30px;
    position: fixed;
    right: 30px;
    padding: 10px;
    bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

.scroll_controller.show {
    opacity: 1;
}

.scroll_controller i {
    box-shadow: 1px 3px 60px 22px var(--second_color);
    font-size: 29px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

/* <!------- discurse and techs > */

.main,
.about_me {
    background-color: var(--color_principal);
    width: 100%;
    height: 510px;
}

.discurse_header {
    width: 100%;
    color: white;
    padding: 6px;
}

.discurse_header h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 150%;
    font-family: var(--principal_font);

}

.discurse_box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.discurse_box div {
    width: 150px;
    height: 130px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    
}

.discurse_box div i {
    font-size: 22px;
    margin-top: 5px;
}

.discurse_box div h3 {
    font-size: 17px;
}

.discurse_content {
    width: 90%;
    margin: 30px auto;
    height: 400px;
    text-align: center;
    font-size: var(--principal_font);
}

.discurse_content p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    
}
.discurse_text{
    margin-top: 40px !important;
}


/* <!------- comenter  --> */

.comenter {
    width: 100%;
    margin-top: 26px;
    padding: 10px;
    text-align: center;
    color: rgb(9, 9, 44) !important;
}

.comenter h1 {
    padding: 5px;
    font-size: 22px;
}

.comenter_color {
    color: var(--trethh_principal);
}

/* <!------- my techs  --> */

.lang_techs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
    flex-wrap: wrap;

}

.estruture {
    width: 340px;
    height: 330px;
    border: 1px solid var(--second_color);
    background-color: white;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    text-align: start;
    outline: none;
}

.estruture_header {
    background-color: white;
    height: 50px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.estruture_header i {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second_color);
    color: rgb(5, 5, 27);
    padding: 10px;
}

.estruture_title {
    display: flex;
    width: 100%;
    justify-content: center;
    color: rgb(3, 3, 34);
    font-size: 16px;
    margin-top: 10px;
    height: 50px;
    font-family: 'roboto';
}

.estruture_title h3 {
    margin-top: 20px;
}

.frontend {
    display: flex;
    justify-content: space-around;

}

.first_front {
    text-align: start;
}

.second_front {
    text-align: start;
}

.languages_p {
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.languages_p p {
    margin-top: 7px;
    color: rgb(2, 4, 19);
    font-size: 16px;
}

.estruture_comenter {
    position: absolute;
    bottom: 0;
}

/* <!------- Mixitup LIb --> */

.container_2 {

    margin: var(--m-auto);
    padding: 0 2rem;

}

#product {
    padding: 3rem 0;
}

.controls {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.control {
    margin-left: 10px;
    padding: 15px;
    outline: none;
    background-color: rgb(5, 5, 27);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.control.mixitup-control-active {
    background-color: rgb(87, 19, 151);
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    gap: 2rem;
    height: auto;
    margin: 0 auto;
}

.mix {
    position: relative;
    margin: 20px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.info-projeto {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 4, 19);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.info-projeto p {
    padding: 24px;
    font-family: sans-serif;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info-projeto h3 {
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info_projetos-link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info_projetos-link a {
    border: 2px solid rgb(67, 37, 168);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.mix:hover .info-projeto {
    display: block;
}

.mix img {
    height: 240px;
    border: 2px solid rgb(102, 65, 224);
    padding: 5px;
    border-radius: 20px;

}

.main_second {
    margin: 20px auto;
    height: 520px;
}

.second_main {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.second_main_content {

    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 10px;
}

.second_main_content input {
    width: 350px;
    padding: 10px;
    font-family: 'roboto';
    font-size: var(--principal_font);
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 6px;
    color: wheat;
    outline: none;
    border: 1px solid var(--second_color);
    padding: 14px;
}

.second_main_content textarea {
    margin-top: 10px;
    width: 100%;
    border: 2px solid var(--second_color);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    outline: none;
    font-family: 'roboto';
    font-size: 16px;
    color: white;
}

.second_main_content .buttonn {
    margin: 20px auto;
    text-align: center;
    width: 100%;
    height: auto;

}

.buttonn button {
    padding: 10px;
    height: auto;
    width: 300px;
    border: 1px solid var(--second_color);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    position: relative;

}

.buttonn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--second_color), transparent);
    transition: width 0.5s ease;
}

.buttonn button:hover::before {
    width: 100%;
    cursor: pointer;
}

.goo {
    width: 00px;
    color: red;

}

/*   <!--- services ---> */
.services h3{
    padding: 10px;
    font-family: 'roboto';
    margin-top: 10px;
}
.services a{
  margin: 3000px 10px !important;
 color: rgba(66, 23, 223, 0.973);
 padding-top: 10px;
}


.modall {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modall-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 50%;
    border-radius: 10px;   
    animation: fadeIn 0.3s ease; 
  }
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  .modall-content h2{
    color: rgba(66, 23, 223, 0.973);
    padding-bottom: 40px;
    font-family: var(--principal_font);
  }
  .modall-content p{
    color: rgb(14, 6, 49);
    margin-top: 20px;
    font-family: 'roboto';
    text-align: start;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

.status_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.status_content .box {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.status_content .box h4 {
    margin: 30px 10px;
    float: left;
    text-align: start;
    font-family: 'roboto';
    font-size: 22px;
}

.status_content .box a {
    margin: 130px -105px;
    float: left;
    font-size: 18px;
    color: rgba(66, 23, 223, 0.973);
}

.client {
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}



.more_aboutme {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.more_box {
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(14, 6, 49);
}


.more_box i {
    text-align: center;
    width: 100%;
    font-size: 29px;
    margin-top: 10px;
}

.more_box h4{
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    color: rgb(14, 6, 49);
    font-family: 'roboto';
}
 .more_box a{
  color: rgba(66, 23, 223, 0.973);
  margin:  0 80px;

}
/* <!---  footer --->*/

.footer {
    background-color: rgb(102, 65, 224);
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.social_footer a {
    margin-top: -16px !important;
    box-shadow: none !important;
    font-size: 30px !important;

    padding: 10px;
    width: 50px !important;
    color: white !important;
    border-radius: none !important;
}

.footer_name {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: var(--principal_font);
    font-size: 20px;
    padding: 10px;
}

.footer_copy {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: var(--principal_font);
    font-size: 15px;
    padding: 10px;
}

@media only screen and (max-width: 820px) {
    .client {
        
        width: 190px !important;
        height: 100px !important; 
        
    }
}

/* <!------- dispositivos menoreS  --> */
@media only screen and (max-width: 280px) {

    .products {
        margin-right: -20px;
    }

    .mix img {
        height: 200px;
    }

    .discurse_header_second {
        font-size: 15px;

    }
 
}

@media only screen and (max-width: 480px) {
    .header .header_logo a {
        font-size: 1.1em;
    }

    .dev_info .dev_content h1 {
        font-size: 1em;
    }

    .social_icons li a {
        font-size: 20px;
        width: 30px;
        height: 30px;
    }

    .download_cv a {
        padding: 10px;
    }

    .me_picture img {
        width: 120px;
        height: 120px;
    }

    .informatic_component img {
        height: 100px;
    }
    .more_box a{
        color: rgba(66, 23, 223, 0.973);
        margin:  0  40px;
      
      }

    /* <!------ start main config ----> */

    .main,
    .about_me {
        height: 580px;
    }
    .modall-content {
        width: 300px;
        
    }
    .estruture {
        width: 300px;
        height: 400px;
    }

    .second_main_content textarea {
        width: 90%;
    }

    .main_second {
        height: 555px;
        margin-top: -0,3px !important;
    }

    .more_box {
        width: 170px;
        height: 150px;
        margin: 05px;
    

    }
    .client {
        
        width: 170px !important;
        height: 100px !important;   
    }
    .estruture{
        height: 300px;
        
    }
    
    .more_box h4{
        font-size: 13px;
     
    }
}